<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>SevenPets</title>
        <link rel="stylesheet" href="../static/css/styleHome.css" type="text/css" media="all" />
        <script src= "../static/js/appHome.js"type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1> Bienvenidos a SevenPets </h1>
        <div>
         <img src="https://img.freepik.com/vector-premium/equipo-veterinario-fondo-blanco_1308-14186.jpg?w=740"> </img>   
        </div>
        <br/>
        <div>
            <button onClick="Registrar()"> Registrar </button>
            <button onClick="Consultar()"> Consultar </button>
            <button onClick="Mas_Informacion()"> Mas Informacion </button>
        </div>
    </body>
</html>