<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title> Nuestros Servicios</title>
        <link rel="stylesheet" href="../static/css/styleInfo.css" type="text/css" media="all" />
        <script src= "../static/js/appInfo.js"type="text/javascript" charset="utf-8"> </script>
    </head>
    <body>
        <div> 
        <h1> Nuestros Servicios </h1>
         </div>
        <h2> Servicios </h2>
        <h3>
          <ul>
        <li><strong>Consultas y Exámenes de Salud:</strong> Revisión general del estado de salud del animal, detección y 
        diagnóstico de enfermedades, y asesoramiento sobre cuidados preventivos.</li>
        <li><strong>Vacunaciones:</strong> Administración de vacunas para prevenir enfermedades comunes en mascotas como rabia, parvovirus y distemper.</li>
        <li><strong>Desparasitación:</strong> Tratamientos para eliminar parásitos internos y externos, como gusanos, pulgas y garrapatas.</li>
        <li><strong>Control de Peso y Nutrición:</strong> Asesoramiento sobre dietas adecuadas y planes de control de peso para mantener a las mascotas en un estado óptimo de salud.</li>
        <li><strong>Cirugía General:</strong> Procedimientos quirúrgicos básicos como esterilización, castración, extracción de tumores y suturas de heridas.</li>
        <li><strong>Diagnóstico por Imágenes:</strong> Radiografías y ecografías para diagnosticar problemas internos y estructurales.</li>
        <li><strong>Análisis de Laboratorio:</strong> Pruebas de sangre, orina y heces para detectar enfermedades y condiciones médicas.</li>
        <li><strong>Medicina Preventiva:</strong> Programas de salud preventiva, incluyendo chequeos regulares y planes de bienestar.</li>
        <li><strong>Atención de Emergencias:</strong> Servicios de urgencia para tratar accidentes y enfermedades repentinas.</li>
        <li><strong>Cuidado Dental:</strong> Limpiezas dentales, extracción de dientes dañados y asesoramiento sobre higiene oral.</li>
        <li><strong>Venta de Productos:</strong> Alimentos especiales, suplementos, medicamentos y otros productos relacionados con el cuidado de mascotas.</li>
          </ul>
        </h3>
    <div>
    <button onClick="home.html"> Home </button>
    </div>
    </body>
</html>