<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>Registro Usuario</title>
		<link rel="stylesheet" href="../static/css/styleRegister.css" type="text/css" />
		<script src=" ../static/js/appRegister.js" type="text/javascript" charset="utf-8"></script>
    </head>
	<body>
		<h1>Registro Usuario</h1> 
		<h2>
			<form action="/register_user" method="post">
			        <table>
			        <tr> 
					<td> <label>Identificacion</label> </td> 
					<td> <input type="number" name="id" /> </td> 
					</tr>
					<tr> 
					<td> <label>Nombre</label> </td> 
					<td> <input type="text" name="Nombre" /> </td> 
					</tr>
					<td> <label>Apellido</label> </td> 
					<td> <input type="text" name="Apellido" /> </td> 
					</tr>
					<tr> 
					<td> <label>Telefono</label> </td> 
					<td> <input type="number" name="Telefono" /> </td> 
					</tr>
					<tr> 
					<td> <label>Correo</label> </td>
					<td> <input type="text" name="Correo" /> </td>
					</tr>
					<tr> 
					<td> <label>Nombre Mascota</label> </td> 
					<td> <input type="text" name="Nombre_Mascota" /> </td> 
					</tr>
				    </table>
				    <button>Guardar Datos</button>
			</h2>
			</form>
	</body>
</html>
