<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>Registro Usuario</title>
		<link rel="stylesheet" href="../static/css/styleRegister.css" type="text/css" />
		<script src=" ../static/js/appRegister.js" type="text/javascript" charset="utf-8"></script>
    </head>
	<body>
		<h1>Registro Usuario</h1> 
	<form action="Registro_Usuario" methods="post">
	        <table>
	        <tr> 
			<td> <label> Identificacion </label></td> 
			<td> <input type="number" name="id" /></td> 
			</tr>
			<tr> 
			<td> <label> Nombre </label> </td> 
			<td> <input type="text" name="Nombre" /></td> 
			</tr>
			<td> <label> Apellidos </label></td> 
			<td> <input type="text" name="Apellidos" /></td> 
			</tr>
			<tr> 
			<td> <label> Telefono </label></td> 
			<td> <input type="text" name="Telefono" /></td> 
			</tr>
			<tr> 
			<td> <label> Correo </label></td>
			<td> <input type="text" name="Correo" /></td>
			</tr>
			<tr> 
			<td> <label> Nombre Mascota </label> </td> 
			<td> <input type="text" name="Nombre Mascota" /></td> 
			</tr>
		    </table>
		    <button>Guardar Datos</button>
	</form>
	</body>
</html>